/* frontend/src/components/Loader.css */

/* Loader Container */
.loader {
    position: fixed; /* Changed to fixed to overlay the entire screen */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure the loader is on top */
}

/* Loader Animation */
.jimu-primary-loading:before,
.jimu-primary-loading:after {
    position: absolute;
    top: 0;
    content: '';
}

/* Positioning the before and after elements */
.jimu-primary-loading:before {
    left: -19.992px;
}

.jimu-primary-loading:after {
    left: 19.992px;
    animation-delay: 0.32s !important;
}

/* Loader Bars Styling with Shades of Yellow */
.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
    background: #FFC107; /* Amber shade of yellow */
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px;
}

/* Hide text for accessibility */
.jimu-primary-loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    animation-delay: 0.16s !important;
}

/* Keyframes for the loading animation */
@keyframes loading-keys-app-loading {
    0%,
    80%,
    100% {
        opacity: 0.75;
        box-shadow: 0 0 #FFC107;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #FFC107;
        height: 40px;
    }
}

@-webkit-keyframes loading-keys-app-loading {
    0%,
    80%,
    100% {
        opacity: 0.75;
        box-shadow: 0 0 #FFC107;
        height: 32px;
    }

    40% {
        opacity: 1;
        box-shadow: 0 -8px #FFC107;
        height: 40px;
    }
}
